.comment-container {
    margin: 20px 30px 5px 30px;
    background-color: rgb(244, 247, 249);
    // border: 1px solid grey;
    padding: 20px;
    border-radius: 5px;
}

.comment-container input{
    border: none;
}

.comment-container textarea{
    margin-top: 20px;
    padding-bottom: 50px;
    border: none;
  
}

.comment-container .btn-submit {
    margin: 20px 0 5px 0;
    background-color: #FA9028;
    padding: 7px 15px;
    border-radius: 15px;
    font-size: 1.125em;
    border: none;
 
    &:hover {
        background-color:  rgb(248, 167, 87);
        color: white;
    }
}

.collapse-button {
    margin:0 20px;
 
}

.collapse-button h5 {
   background-color: #74E0D4;
   padding: 10px 15px;
   border-radius: 15px;
   font-size: 1.125em;
 
    &:hover {
        background-color: white;
        border: 1px solid #74E0D4;
        color: #74E0D4;
    }
}