.profile-container {
    background-image: url('/images/pattrn.jpeg');
    height: 170px;
}
.profile-box {
    text-align: center;
}

.profile-box h2{
    text-align: center;
    font-size: 2.25em;
    line-height: 1.25;
    padding-top: 40px;
    color: white;
} 

.profile-box h5 {
    text-align: left;
    width: 40%;
    color: white;
    padding: 5px 10px 5px 10%;
    margin-top: 230px;
    background-color: #74E0D4;
}

@media (min-width: 481px) and (max-width: 767px) {
    .profile-box h5 {
        width: 55%;
    }
 
  }

@media (max-width: 480px) {  
    .profile-box h5 {
        width: 100%;
    }
   
  }