.location-background {
    background-size: cover;
    background-repeat: no-repeat;
    height: 550px;
}

.poster {
    width: 180px;
    position: relative;
    margin-top: -10em;
    margin-right: 1000px;
    border: 2px solid #ffffff;
}
.card-deck {
    max-width: 1200px;
    margin: 0 auto !important;
    padding-bottom: 100px;
}

.card {
    min-width: 250px !important;
    margin: 20px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    
}

